<div class="container">
  {{outlet}}
  <footer class="footer">
    <small class="pull-xs-right"></small>
    <small>&copy; <a href="http://billdami.com">Bill Dami</a> 2016. | 
    <a href="https://github.com/billdami/ember-sudoku-solver">GitHub</a></small>
  </footer>
</div>