{{#alert-message type="info" closeable=true}}
  <strong>Welcome!</strong> 
  <p>
    To start solving sudoku puzzles, click 'Load File' and select a .txt file containing a 9x9 grid 
    of "X" letters to represent grid cells, except for the pre-filled cells, which should be a number
    between 1 and 9. Once loaded, click 'Solve!' to complete the puzzle.
  </p>
  <p>
    <small>
      <strong>Note:</strong> This app uses HTML5 features like browser-based file reading, and it is only 
      compatible with modern browsers (Chrome, Firefox 3.6+, IE 10+)
    </small>
  </p> 
{{/alert-message}}